<ng2-toasty></ng2-toasty>
<div class="col-lg-12 col-md-12" style="padding: 0px">
  <ng2-slim-loading-bar></ng2-slim-loading-bar>
</div>
<div class="col-lg-12 col-md-12" style="padding: 0px;" *ngIf="!isPaymentSelected && listBillToPayPayment.length > 0">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center col-lg-2 col-md-2">Vencimento</th>
        <th class="text-left col-md-6 col-lg-6">Descrição</th>
        <th class="text-center col-lg-2 col-md-2">Valor</th>
        <th class="text-center col-lg-1 col-md-1"></th>
        <th class="text-center col-lg-1 col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let billToPayPayment of listBillToPayPayment
          | paginate: {id: 'tableBillsToPay', itemsPerPage: 10, currentPage: page }"
          [ngClass]="{'bg-danger' : billToPayPayment.dateStatus === 'IS_BEFORE',
          'bg-info': billToPayPayment.dateStatus === 'IS_SAME'}">
        <td class="text-center">{{billToPayPayment.maturity | date:'dd/MM/yyyy'}}</td>
        <td class="text-left" *ngIf="billToPayPayment.dateStatus !== 'IS_BEFORE'">
          {{billToPayPayment.description}}
        </td>
        <td class="text-left" style="color: red;" *ngIf="billToPayPayment.dateStatus === 'IS_BEFORE'">
          {{billToPayPayment.description}}&nbsp;-&nbsp;VENCIDO
        </td>
        <td class="text-center">R$ {{billToPayPayment.amount | number : '1.2-2'}}</td>
        <td class="text-center">
          <input type="checkbox" (change)="onChangeCheckBillet(billToPayPayment, $event)" 
            [(ngModel)]="billToPayPayment.isChecked">
        </td>
        <td *ngIf="!isBilletOld(billToPayPayment.maturity)">
          <button *ngIf="billToPayPayment.billetShipping !== null &&
          billToPayPayment.billetShipping !== undefined && billToPayPayment.dateStatus !== 'IS_BEFORE'" class="btn btn-primary" id="btnPrintBillet_{{billToPayPayment.billetShipping?.id}}"
          (click)="showModalChoosePrintType(billToPayPayment.billetShipping, billToPayPayment.bankId)">
            <span class="fa fa-file-text-o"></span>&nbsp;Boleto
          </button>
          <button *ngIf="billToPayPayment.billetShipping !== null &&
          billToPayPayment.billetShipping !== undefined && billToPayPayment.dateStatus === 'IS_BEFORE'" class="btn btn-primary" id="btnPrintBilletBefore_{{billToPayPayment.billetShipping?.id}}"
                  (click)="showModalBillet(billToPayPayment.billetShipping, billToPayPayment.bankId)">
            <span class="fa fa-file-text-o"></span>&nbsp;Boleto
          </button>
        </td>
        <td *ngIf="isBilletOld(billToPayPayment.maturity)" (click)="modalInfoBilletLate.show()">
          <button class="btn btn-default">
            <span class="fa fa-info"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls id="tableBillsToPay" previousLabel="Anterior"
                       nextLabel="Próximo"
                       (pageChange)="page = $event">
  </pagination-controls>
  <div bsModal id="modalLateBill" #modalLateBill="bs-modal" #childModal="bs-modal" class="modal fade"
       tabindex="-1" role="dialog"
       aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <app-modal-late-billet [codeBar]="codeBar" [modalLateBill]="modalLateBill" [billetShipping]="billetShipping"
                           [bank]="bank" (notify)="onNotify($event)" [codeBarFirstGroup]="codeBarFirstGroup"
    [codeBarSecondGroup]="codeBarSecondGroup" [codeBarThirdGroup]="codeBarThirdGroup" [verifyDigit]="generalVerifyDigit"
    [codeBarFourGroup]="codeBarFourGroup">
    </app-modal-late-billet>
  </div>

  <div bsModal id="modalChoosePrintType" #modalChoosePrintType="bs-modal" #childModal="bs-modal" class="modal fade"
       tabindex="-1" role="dialog"
       aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <app-modal-choose-print-type [modalChoosePrintType]="modalChoosePrintType" (notify)="onNotify($event)"></app-modal-choose-print-type>
  </div>

  <div bsModal id="modalInfoBilletLate" #modalInfoBilletLate="bs-modal" #childModal="bs-modal" class="modal fade"
       tabindex="-1" role="dialog"
       aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <app-info-billet-late [modal]="modalInfoBilletLate"></app-info-billet-late>
  </div>

</div>
<div class="row">
  <div class="col-lg-3 col-md-3">
    <button class="btn btn-primary" id="btnPrintCarne80mm" (click)="printCarne80mm()">Imprimir Carnê 80mm</button>
  </div>  
  <div class="col-lg-3 col-md-3" *ngIf="!isPaymentSelected && listBillToPayPayment.length > 0">
    <img src="src/assets/images/pagar-agora.png"
         class="img-responsive" alt="" style="margin-top: 25px; cursor: pointer" (click)="payBills()">
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12" *ngIf="isPaymentSelected">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th class="text-center col-lg-1 col-md-1">Venc.</th>
          <th class="text-center col-lg-1 col-md-1">Dias/Atraso</th>
          <th class="text-left col-lg-2 col-md-2">Descrição</th>
          <th class="text-center col-lg-1 col-md-1">Valor</th>
          <th class="text-center col-lg-2 col-md-2">Juros % / Valor</th>
          <th class="text-center col-lg-2 col-md-2">Mora % / Valor</th>
          <th class="text-center col-lg-2 col-md-2">Encargos % / Valor</th>
          <th class="text-center col-lg-1 col-md-1">SubTotal</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let billToPayment of listSelectedBillToPayPayment
          | paginate: {id: 'tableBillsToPaySelected', itemsPerPage: 10, currentPage: page }">
        <td class="text-center col-lg-1 col-md-1">{{billToPayment.maturity | date:'dd/MM/yyyy'}}</td>
        <td class="text-center col-lg-1 col-md-1">{{billToPayment.daysInArrears >= 0 ? billToPayment.daysInArrears : 0}}</td>
        <td class="text-left col-lg-2 col-md-2">{{billToPayment.description}}</td>
        <td class="text-center col-lg-1 col-md-1">{{billToPayment.amount | number : '1.2-2'}}</td>
        <td class="text-center col-lg-2 col-md-2">{{typeInterestCharge.percentInterest}} % / R$ {{billToPayment.amountInterest | number : '1.2-2'}}</td>
        <td class="text-center col-lg-2 col-md-2">{{typeInterestCharge.percentLiveDays}} % / R$ {{billToPayment.amountLiveDays | number : '1.2-2'}}</td>
        <td class="text-center col-lg-2 col-md-2">{{typeInterestCharge.percentCharges}} % / R$ {{billToPayment.amountCharges | number : '1.2-2'}}</td>
        <td class="text-center col-lg-1 col-md-1">{{billToPayment.subTotal | number : '1.2-2'}}</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-lg-10 col-md-10">
        <pagination-controls id="tableBillsToPaySelected" previousLabel="Anterior"
                             nextLabel="Próximo"
                             (pageChange)="page = $event"></pagination-controls>
      </div>
      <div class="col-lg-2 col-md-2">
        <label class="control-label pull-right">
          Total: {{totalPayment | currency:'BRL':true: '1.2-2'}}
        </label>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="listSelectedBillToPayPayment.length > 0">
  <div class="col-lg-4 col-md-4" *ngIf="isPaymentSelected">
    <label class="control-label">Forma de Pagamento</label>
    <select name="paymentMethod" id="paymentMethod" class="form-control" [(ngModel)]="paymentMethod">
      <option value="CREDIT">Cartão de Crédito</option>
      <!--<option value="DEBIT">Cartão de Débito</option>-->
    </select>
  </div>
</div>

<iframe id="ifrOutput" height="700px" width="100%" style="display: none">
  <div class="col-lg-10 col-md-10" style="padding: 0px; margin-top: 15px" id="divtablebillet">
    <div class="row">
      <div class="col-lg-12 col-md-12" id="tablebillet">
        <table cellSpacing=0 cellPadding=0>
          <tr>
            <td style='width: 1cm'></td>
            <td style='width: 1cm'></td>
            <td style='width: 1.9cm'></td>

            <td style='width: 0.8cm'></td>
            <td style='width: 1cm'></td>
            <td style='width: 1cm'></td>
            <td style='width: 1.0cm'></td>

            <td style='width: 2.3cm'></td>
            <td style='width: 2.3cm'></td>

            <td style='width: 1.9cm'></td>

            <td style='width: 1.9cm'></td>
          </tr>
          <tr>
            <td colspan="11" style="border-top: 0.3mm dashed #000000; font-size: 1mm">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=4 class="logo">
              <img style="max-height: 50px" [src]="bank?.id === 9 ? 'https://707.pt/wp-content/uploads/2017/05/santander.png' :
              'http://www.inovemoveis.com.br/franquias/2/14830/editor-html/575822.jpg'"/>
              <!--<img id="img-caixa" style="max-height: 40px;max-width: 195px;margin-bottom: 2px;" class="img-logo"/>-->
            </td>
            <td colspan="2" class="bankCode">
              <p *ngIf="bank?.id !== 9">{{bank?.bankCode}}-0</p> 
              <p *ngIf="bank?.id === 9">033-7</p>
            </td>
            <td colspan="5" class="billetNumber">
              <!--Code Bar-->
              <!--Beneficiário
              <p style="padding-top: 5px;font-family: arial, verdana;font-size: 0.2cm;" class="text-right">
                G2 Soft Comercio LTDA - ME, Rua Presidente Kennedy, 122, Centro. 14.272.237/0001-36</p>-->
              <p *ngIf="bank?.id !== 9">{{codeBar}}</p>
              <div *ngIf="bank?.id === 9">
                <p style="font-size: 0.2cm; font-family: arial, verdana; 
                padding-left : 1mm; float: left;">
                  Beneficiário
                </p>
                <p  style="padding-top: 15px;font-family: arial, verdana;font-size: 0.2cm;" 
                    class="text-right">
                    G2 Soft Comercio LTDA - ME, Rua Presidente Kennedy, 122, Centro. 14.272.237/0001-36
                </p>
              </div>  
            </td>
          </tr>
          <!-- Inicio cabeçalho Santander -->
          <div *ngIf="bank?.id === 9">
            <tr>
              <td colspan=9>
                <p class="vertical-text">Re</p>
              </td>
              <td colspan=2 class="billetRightField">Vencimento</td>
            </tr>
            <tr class="tr-border-bottom">
              <td colspan=9>
                <p class="vertical-text">ci</p>
              </td>
              <td colspan=2 style="border-left: 0.15mm solid #000000; border-bottom: 0.15mm solid #000000;" class="billetLeftValue text-right">{{billetShipping?.maturityDate | date:'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
              <td colspan=9>
                <p class="vertical-text">bo</p>
              </td>
              <td colspan=2 class="billetRightField">Nosso Número</td>
            </tr>
            <tr>
              <td colspan=9>
                <p class="vertical-text">&nbsp;do</p>
              </td>
              <td colspan=2 class="billetLeftValue text-right">{{billetShipping?.ourNumber}}</td>
            </tr>
            <tr>
              <td colspan=9>
                <p class="vertical-text">&nbsp;P</p>
              </td>
              <td colspan=2 class="billetRightField">Agência/Código Beneficiário</td>
            </tr>
            <tr>
              <td colspan=9>
                <p class="vertical-text">ag</p>
              </td>
              <td colspan=2 class="billetLeftValue">&nbsp;</td>
            </tr>
            <tr>
              <td colspan=9>
                <p class="vertical-text">ad</p>
              </td>
              <td colspan=2 class="billetRightField">(=) Valor do Documento</td>
            </tr>
            <tr>
              <td style="border-bottom: 1mm solid #000000" colspan=9>
                <p class="vertical-text">or</p>
              </td>
              <td style="border-bottom: 1mm solid #000000" colspan=2 class="billetLeftValue">
                {{billetShipping?.billValue | number : '1.2-2'}}
              </td>
            </tr>
          </div>
          <!-- Final Santander -->
          <!-- Inicio Caixa -->
          <div *ngIf="bank?.id === 10">
            <tr>
              <td colspan=4 class="billetRightField">Cedente</td>
              <td colspan=3 class="billetRightField">
                Agência/Código do Cedente
              </td>
              <td colspan=1 style="border-left: none;text-align: right; padding-right: 1mm;" 
              class="billetRightField">Espécie</td>
              <td colspan=1 class="billetRightField">Quantidade</td>
              <td colspan=2 class="billetRightField">Nosso Número</td>
            </tr>
            <tr class="tr-border-bottom">
              <td colspan=4 style="border-left: 0.15mm solid #000000; border-bottom: 0.15mm solid #000000;" class="billetLeftValue">G2 SOFT COMERCIO LTDA - ME</td>
              <td colspan=3 class="billetLeftValue">{{bank?.agency}} / {{bank?.transmissionCode}}</td>
              <td colspan=1 style="border-left: none; text-align: right;padding-right: 3px;" 
                class="billetLeftValue">R$</td>
              <td colspan=1 class="billetLeftValue"></td>
              <td colspan=2 style="border-left: 0.15mm solid #000000; border-bottom: 0.15mm solid #000000;" class="billetLeftValue text-right">{{billetShipping?.ourNumber}}</td>
            </tr>
            <tr>
              <td colspan=4 class="billetRightField">Número do Documento</td>
              <td colspan=4 class="billetRightField">CPF/CNPJ</td>
              <td colspan=1 class="billetRightField" style="text-align: right; border-left: none;padding-right: 1mm;">Vencimento</td>
              <td colspan=2 class="billetRightField">Valor documento</td>
            </tr>
            <tr>
              <td colspan=4 class="billetLeftValue"></td>
              <td colspan=4 class="billetLeftValue">14.272.237/001-36</td>
              <td colspan=1 class="billetLeftValue" style="text-align: right; border-left: none;padding-right: 1mm;">{{getMaturityDate(billetShipping?.maturityDate)}}</td>
              <td colspan=2 class="billetLeftValue text-right">{{billetShipping?.billValue | currency:'BRL':true: '1.2-2'}}</td>
            </tr>
            <tr>
              <td colspan=3 class="billetRightField">(-) Desconto / Abatimentos</td>
              <td colspan=2 class="billetRightField">(-) Outras deduções</td>
              <td colspan=2 class="billetRightField">(+) Mora / Multa</td>
              <td colspan=2 class="billetRightField">(+) Outros acréscimos</td>
              <td colspan=2 class="billetRightField">(=) Valor Cobrado</td>
            </tr>
            <tr>
              <td colspan=3 class="billetLeftValue">&nbsp;</td>
              <td colspan=2 class="billetLeftValue">&nbsp;</td>
              <td colspan=2 class="billetLeftValue">&nbsp;</td>
              <td colspan=2 class="billetLeftValue">&nbsp;</td>
              <td colspan=2 class="billetLeftValue">&nbsp;</td>
            </tr>
            <tr>
              <td colspan=11 class="billetRightField">Sacado</td>
            </tr>
            <tr>
              <td colspan=11 class="billetLeftValue">{{client?.name}}</td>
            </tr>
            <tr>
              <td colspan=9 class="billetRightFieldBorderNone">Demonstrativo</td>
              <td colspan=2 class="billetRightFieldBorderNone text-right">Autenticação Mecânica</td>
            </tr>
            <tr>
              <td colspan=11 class="billetLeftValueBorderNone">REFERENTE: {{getCurrentDate()}}</td>
            </tr>
            <tr>
              <td colspan=11 class="billetLeftValueBorderNone">COBRANÇA: {{billetShipping?.chargingType}}</td>
            </tr>
          </div>
          <!-- Final Caixa -->

          <tr>
            <td colspan=11 height=40 valign=top>&nbsp;</td>
          </tr>
          <tr>
            <td colspan=11 style="border-left: none; text-align: right" class="billetLeftField2">
              Corte na linha pontilhada
            </td>
          </tr>
          <tr>
            <td colspan=11 style="border-top: 0.3mm dashed #000000; font-size: 1mm">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=4 class="logo">
              <!--<img style="max-height: 40px;max-width: 195px;margin-bottom: 2px;" class="img-logo"/>-->
              <img style="max-height: 50px" [src]="bank?.id === 9 ? 'https://707.pt/wp-content/uploads/2017/05/santander.png' :
              'http://www.inovemoveis.com.br/franquias/2/14830/editor-html/575822.jpg'"/>
            </td>
            <td colspan="2" class="bankCode">
              <p *ngIf="bank?.id !== 9">{{bank?.bankCode}}-0</p>
              <p *ngIf="bank?.id === 9">033-7</p>
            </td>
            <td colspan="5" class="billetNumber" style="vertical-align: bottom">
              <p id="tdCodeBar" style="margin: 0;">{{codeBar}}</p>
            </td>
          </tr>
          <tr>
            <td colspan=9 style="border-right: none; border-bottom: none" class="billetLeftField2">Local de Pagamento</td>
            <td colspan=2 class="billetRightField" style="border-bottom: none">Vencimento</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftValue3 text-center">
              <p *ngIf="bank?.id === 10">PREFERENCIALMENTE NAS CASAS LOTÉRICAS ATÉ O VALOR LIMITE</p>
              <p *ngIf="bank?.id === 9">PAGAR PREFERENCIALMENTE NO BANCO SANTANDER</p>
            </td>
            <td colspan=2 style="border-bottom: none" class="billetRightTextValue">{{getMaturityDate(billetShipping?.maturityDate)}}</td>
          </tr>
          <tr>
            <td colspan=9 style="border-right: none; border-bottom: none" class="billetLeftField2">
              Cedente
            </td>
            <td colspan=2 class="billetRightField" style="border-bottom: none">Agência/Código cedente</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftValue3" style="border-bottom: 0.15mm solid #000000">
              G2 SOFT COMERCIO LTDA - ME
            </td>
            <td colspan=2 class="billetRightTextValue" style="border-bottom: 0.15mm solid #000000">{{bank?.agency}} / {{bank?.account}}</td>
          </tr>
          <tr>
            <td colspan=2 class="billetLeftField2">Data do documento</td>
            <td colspan=3 class="billetLeftField2">Nº documento</td>
            <td colspan=2 class="billetLeftField2">Espécie doc.</td>
            <td colspan=1 class="billetLeftField2">Aceite</td>
            <td colspan=1 class="billetLeftField2">Data processamento</td>
            <td colspan=2 class="billetLeftField2">Nosso Número</td>
          </tr>
          <tr>
            <td colspan=2 style="border-bottom: none" class="billetLeftValue2">{{getCurrentDate()}}</td>
            <td colspan=3 class="billetLeftTextValue2">&nbsp;</td>
            <td colspan=2 class="billetLeftTextValue2">DM</td>
            <td colspan=1 class="billetLeftTextValue2">NÃO</td>
            <td colspan=1 class="billetLeftTextValue2">{{getCurrentDate()}}</td>
            <td colspan=2 class="billetLeftTextValue2 text-right">{{billetShipping?.ourNumber}}</td>
          </tr>
          <tr>
            <td colspan=2 class="billetLeftField2">Uso do banco</td>
            <td colspan=2 class="billetLeftField2">Carteira</td>
            <td colspan=1 class="billetLeftField2" style="border-left: none">Espécie</td>
            <td colspan=3 class="billetLeftField2" style="border-left: none">Quantidade</td>
            <td colspan=1 class="billetLeftField2">Valor Documento</td>
            <td colspan=2 class="billetLeftField2">(=) Valor documento</td>
          </tr>
          <tr>
            <td colspan=2 style="border-bottom: 0.15mm solid #000000" class="billetLeftValue2">&nbsp;</td>
            <td colspan=2 style="border-bottom: 0.15mm solid #000000" class="billetLeftTextValue2">
              <p *ngIf="bank?.id === 9">COBRANÇA SIMPLES - RCR</p>
              <p *ngIf="bank?.id !== 9">SR</p> 
            </td>
            <td colspan=1  class="billetLeftTextValue2" style="border-bottom: 0.15mm solid #000000;border-left: none">R$</td>
            <td colspan=3 class="billetLeftTextValue2" style="border-bottom: 0.15mm solid #000000;border-left: none">&nbsp;</td>
            <td colspan=1 style="border-bottom: 0.15mm solid #000000" class="billetLeftTextValue2">&nbsp;</td>
            <td colspan=2 style="border-bottom: 0.15mm solid #000000" class="billetLeftTextValue2 text-right">{{billetShipping?.billValue | number : '1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftValue3">
              TEXTO DE RESPONSABILIDADE DO CEDENTE: <br>
              NÃO RECEBER APÓS 90 DIAS DE ATRASO <br>
              JUROS: {{typeInterestCharge?.liveDaysValue | number : '1.2-2'}} REAIS AO DIA<br>
              MULTA: {{typeInterestCharge?.interestValue | number : '1.2-2'}} REAIS A PARTIR DE
              {{getMaturityInterestDate(billetShipping?.maturityDate)}}
            </td>
            <td colspan=2 class="billetLeftField2">(-) Desconto / Abatimentos</td>
          </tr>
          <tr>
            <td colspan=9  class="billetLeftValue3">&nbsp;</td>
            <td colspan=2 class="billetLeftValue3">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftValue3">
              &nbsp;
            </td>
            <td colspan=2 class="billetLeftField2">(-) Outras deduções</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftField2">&nbsp;</td>
            <td colspan=2 style="border-bottom: 0.15mm solid #000000;" class="billetLeftField2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftField2">&nbsp;</td>
            <td colspan=2 class="billetLeftField2">(+) Mora / Multa</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftField2">&nbsp;</td>
            <td colspan=2 class="billetLeftField2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftField2">&nbsp;</td>
            <td colspan=2 class="billetLeftField2">(+) Outros acréscimos</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftField2">&nbsp;</td>
            <td colspan=2 class="billetLeftField2" style="border-bottom: 0.15mm solid #000000;">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftField2">&nbsp;</td>
            <td colspan=2 class="billetLeftField2">(=) Valor cobrado</td>
          </tr>
          <tr>
            <td style="border-bottom: 0.15mm solid #000000;" colspan=9 class="billetLeftField2">&nbsp;</td>
            <td style="border-bottom: 0.15mm solid #000000;" colspan=2 class="billetLeftField2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftField2">Sacado</td>
            <td colspan=2 class="billetLeftField2"></td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftValue3">{{client?.name}}</td>
            <td colspan=2 class="billetLeftField2"></td>
          </tr>
          <tr>
            <td colspan=9 class="billetLeftValue3">{{client?.address}}, {{client?.addressNumber}}</td>
            <td colspan=2 class="billetLeftField2"></td>
          </tr>
          <tr>
            <td style="border-bottom: 0.15mm solid #000000;" colspan=9 class="billetLeftValue3">
              {{client?.city}} - {{client?.uf}}&nbsp;CEP:&nbsp;{{client?.zipCode}}
            </td>
            <td style="border-bottom: 0.15mm solid #000000;" colspan=2 class="billetLeftField2">Cód. baixa</td>
          </tr>
          <tr>
            <td colspan=8 style="border-left: none" class="billetLeftField2">Sacado/Avalista</td>
            <td colspan=3 style="border-left: none" class="billetLeftField2 text-right">Autenticação mecânica - <strong>Ficha de Compensação</strong></td>
          </tr>
          <tr>
            <td colspan="11" id="boleto"></td>
          </tr>
          <tr>
            <td colspan=11 style="border-left: none; text-align: right" class="billetLeftField2">
              Corte na linha pontilhada
            </td>
          </tr>
          <tr>
            <td colspan="11" style="border-top: 0.3mm dashed #000000; font-size: 1mm">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</iframe>

<iframe id="ifrOutput80mm" height="252.6px" width="100%" style="display: none">
  <div class="col-lg-12 col-md-12" id="tablebillet80mm" style="max-height: 252.6px">
    <table cellSpacing=0 cellPadding=0 id="tableBillet80">
      <tr style="height: 0.4cm;">
        <td style='width: 0.5cm; height: 0.3cm'></td>
        <td style='width: 2.4cm;height: 0.3cm'></td>
        <td style='width: 2.4cm;height: 0.3cm'></td>
      
        <td style='width: 0.5cm;height: 0.3cm'></td>

        <td style='width: 1cm;height: 0.3cm'></td>
        <td style='width: 2.4cm;height: 0.3cm'></td>
        <td style='width: 2cm;height: 0.3cm'></td>
      
        <td style='width: 3cm;height: 0.3cm'></td>
        <td style='width: 3cm;height: 0.3cm'></td>
      
        <td style='width: 4cm;height: 0.3cm'></td>
      
        <td style='width: 4cm;height: 0.3cm'></td>
      </tr>
      <tr>
        <td colspan=2 class="logo80mm">
          <img style="max-height: 22px" [src]="bank?.id === 9 ? 'https://www.afterbanks.com/api/icons/santander.min.png' :
          'http://www.inovemoveis.com.br/franquias/2/14830/editor-html/575822.jpg'"/>
        </td>
        <td colspan=1 class="bankCode80mm" *ngIf="bank?.id !== 9">
          {{bank?.bankCode}}-0
        </td>
        <td colspan=1 class="bankCode80mm" *ngIf="bank?.id === 9">
          033-7
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=2 class="logo80mm">
          <img style="max-height: 22px" [src]="bank?.id === 9 ? 'https://www.afterbanks.com/api/icons/santander.min.png' :
          'http://www.inovemoveis.com.br/franquias/2/14830/editor-html/575822.jpg'"/>
        </td>
        <td colspan="5" class="billetNumber80mm" id="tdBilletCodeBar80mmValue">
          {{billetShipping?.codeBar}}
        </td>
      </tr>
      <tr style="margin: 0;padding: 0;vertical-align: baseline;">
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=1 class="billetRightField80mm">Id Documento</td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          Número Documento
        </td>
        <td colspan=1 >&nbsp;</td>
        <td colspan=6 class="billetRightField80mm">Local de pagamento</td>
        <td colspan=1 style="border-right: 0.15mm solid #000000;" class="billetRightField80mm">
          Vencimento
        </td>
      </tr>
      <tr style="margin: 0;padding: 0;vertical-align: baseline;">
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm">
          {{billetShipping?.id}}
        </td>
        <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
          {{billetShipping?.id}}
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetLeftValue80mm">
          PREFERENCIALMENTE NAS CASAS LOTÉRICAS ATÉ O VALOR LIMITE
        </td>
        <td colspan=1 style="border-right: 0.15mm solid #000000;" 
          class="billetLeftValue80mm">
          {{getMaturityDate(billetShipping?.maturityDate)}}
        </td>
      </tr>
      <tr style="margin: 0;padding: 0;vertical-align: baseline;height: 0.4cm;">
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=1 class="billetRightField80mm">Agência / Código Cedente</td>
        <td colspan=1 class="billetRightField80mm" 
          style="border-right: 0.15mm solid #000000;">
          Vencimento
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetRightField80mm">Beneficiário</td>
        <td colspan=1 style="border-right: 0.15mm solid #000000;" class="billetRightField80mm">
          Agência / Código Cedente
        </td>
      </tr>
      <tr style="margin: 0;padding: 0;vertical-align: baseline;height: 0.4cm;">
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm">
          {{bank?.agency}} / {{bank?.transmissionCode}}
        </td>
        <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
          {{billetShipping?.maturityDate | date: 'dd/MM/yyyy'}}
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetLeftValue80mm">
          G2 SOFT COMERCIO LTDA - ME&nbsp;&nbsp;CNPJ:14.272.237/0001-36
        </td>
        <td colspan=1 style="border-right: 0.15mm solid #000000;" class="billetLeftValue80mm">
          {{bank?.agency}} / {{bank?.account}}
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          Nosso Número
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=1 class="billetRightField80mm">Data Documento</td>
        <td colspan=2 class="billetRightField80mm">Número Documento</td>
        <td colspan=1 class="billetRightField80mm">Espécie Documento</td>
        <td colspan=1 class="billetRightField80mm">Aceite</td>
        <td colspan=1 class="billetRightField80mm">Data Processamento</td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          Nosso Número
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
          {{billetShipping?.ourNumber}}
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm">{{getCurrentDate()}}</td>
        <td colspan=2 class="billetLeftValue80mm">{{billetShipping?.id}}</td>
        <td colspan=1 class="billetLeftValue80mm">R$</td>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm">{{getCurrentDate()}}</td>
        <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
          {{billetShipping?.ourNumber}}
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=1 class="billetRightField80mm">Espécie</td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          Valor Documento
        </td>
        <td colspan=1 >&nbsp;</td>
        <td colspan=1 class="billetRightField80mm">Uso Banco</td>
        <td colspan=2 class="billetRightField80mm">Carteira</td>
        <td colspan=1 class="billetRightField80mm">Espécie</td>
        <td colspan=1 class="billetRightField80mm">Quantidade</td>
        <td colspan=1 class="billetRightField80mm">Valor</td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          Valor Documento
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm">R$</td>
        <td colspan=1 class="billetLeftValue80mm" 
          style="border-right: 0.15mm solid #000000;">
          {{billetShipping?.billValue | number : '1.2-2'}}
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=2 class="billetLeftValue80mm">
          {{bank?.walletShippingNumber}}
        </td>
        <td colspan=1 class="billetLeftValue80mm">R$</td>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
          {{billetShipping?.billValue | number : '1.2-2'}}
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          (-) Desconto/Abatimento
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetRightField80mm"></td>
        <td colspan=1 class="billetRightField80mm" 
          style="border-right: 0.15mm solid #000000;">
          (-) Desconto/Abatimento
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">&nbsp;</td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetRightField80mm" style="border-bottom: none">&nbsp;</td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">&nbsp;</td>
      </tr>
      <tr>
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          (-) Outras Deduções
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetRightField80mm">&nbsp;</td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          (-) Outras Deduções
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000">&nbsp;</td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetLeftValue80mm" style="border-bottom: none">&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">&nbsp;</td>
      </tr>
      <tr>
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000">
          (+) Multa/Mora
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetRightField80mm" style="border-bottom: none">&nbsp;</td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          (+) Multa/Mora
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000">&nbsp;</td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000">
          (+) Outros Acréscimos
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetRightField80mm" style="border-bottom: none">
          Pagador
        </td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          (+) Outros Acréscimos
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000">&nbsp;</td>
        <td colspan=1 >&nbsp;</td>
        <td colspan=6 style="border-bottom: none;" class="billetLeftValue80mm">
          {{client?.name}}&nbsp;&nbsp;CNPJ:&nbsp;{{client?.cnpj}}&nbsp; Endereço&nbsp;{{client?.address}}&nbsp;{{client?.addressNumber}}&nbsp;
          CEP:{{client?.zipCode}}&nbsp;{{client?.city}}&nbsp;-&nbsp;{{client?.uf}}
        </td>
        <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
          &nbsp;
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetRightField80mm">&nbsp;</td>
        <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000">
          (=) Valor Cobrado
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 class="billetRightField80mm" style="border-bottom: none">&nbsp;</td>
        <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
          (=) Valor Cobrado
        </td>
      </tr>
      <tr>
        <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
        <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000">
          &nbsp;
        </td>
        <td colspan=1>&nbsp;</td>
        <td colspan=6 style="border-bottom: 0.15mm solid #000000" class="billetRightField80mm">
          Sacador / Avalista
        </td>
        <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="11" id="tdBilletBarCode80mm"></td>
      </tr>      
    </table>
  </div>
</iframe>

<iframe id="ifrListOutput80mm" width="100%">
    <div *ngFor="let billToPayPayment of listSelectedBillToPayPayment; let i = index;" 
    id="divListSelectedBillets">
    <div id="tableCarnebillet80mm_{{i}}">
      <table id="tableListCarne" cellSpacing=0 cellPadding=0>
        <tr>
          <td style='width: 0.5cm;'></td>
          <td style='width: 2.4cm;'></td>
          <td style='width: 2.4cm;'></td>
  
          <td style='width: 0.5cm;'></td>
  
          <td style='width: 1cm;'></td>
          <td style='width: 2.4cm;'></td>
          <td style='width: 2cm;'></td>
  
          <td style='width: 3cm;'></td>
          <td style='width: 3cm;'></td>
  
          <td style='width: 4cm;'></td>
  
          <td style='width: 4cm;'></td>
        </tr>
        <tr>
          <td colspan=2 class="logo80mm">
            <img style="max-height: 22px" [src]="billToPayPayment.bank?.id === 9 ? 'https://www.afterbanks.com/api/icons/santander.min.png' :
                    'http://www.inovemoveis.com.br/franquias/2/14830/editor-html/575822.jpg'" />
          </td>
          <td colspan=1 class="bankCode80mm" *ngIf="billToPayPayment.bank?.id !== 9">
            {{billToPayPayment.bank?.bankCode}}-0
          </td>
          <td colspan=1 class="bankCode80mm" *ngIf="billToPayPayment.bank?.id === 9">
            033-7
          </td>
          <td colspan=1>&nbsp;</td>
          <td colspan=2 class="logo80mm">
            <img style="max-height: 22px" [src]="billToPayPayment.bank?.id === 9 ? 'https://www.afterbanks.com/api/icons/santander.min.png' :
                    'http://www.inovemoveis.com.br/franquias/2/14830/editor-html/575822.jpg'" />
          </td>
          <td colspan="5" class="billetNumber80mm" id="tdBilletCarneCodeBar80mmValue_{{billToPayPayment.id}}">
            <!-- {{billToPayPayment.billetShipphing?.codeBar}} -->
          </td>
        </tr>
        <tr>
          <td colspan=1 class="billetRightField80mm">&nbsp;</td>
          <td colspan=1 class="billetRightField80mm">Id Documento</td>
          <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
            Número Documento
          </td>
          <td colspan=1>&nbsp;</td>
          <td colspan=6 class="billetRightField80mm">Local de pagamento</td>
          <td colspan=1 style="border-right: 0.15mm solid #000000;" class="billetRightField80mm">
            Vencimento
          </td>
        </tr>
        <tr>
          <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
          <td colspan=1 class="billetLeftValue80mm">
            {{billToPayPayment?.billetShipping?.id}}
          </td>
          <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
            {{billToPayPayment?.billetShipping?.id}}
          </td>
          <td colspan=1>&nbsp;</td>
          <td colspan=6 class="billetLeftValue80mm">
            PREFERENCIALMENTE NAS CASAS LOTÉRICAS ATÉ O VALOR LIMITE
          </td>
          <td colspan=1 style="border-right: 0.15mm solid #000000;" class="billetLeftValue80mm">
            {{billToPayPayment?.billetShipping?.maturityDate | date: 'dd/MM/yyyy'}}
          </td>
        </tr>
        <tr>
          <td colspan=1 class="billetRightField80mm">&nbsp;</td>
          <td colspan=1 class="billetRightField80mm">Agência / Código Cedente</td>
          <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
            Vencimento
          </td>
          <td colspan=1>&nbsp;</td>
          <td colspan=6 class="billetRightField80mm">Beneficiário</td>
          <td colspan=1 style="border-right: 0.15mm solid #000000;" class="billetRightField80mm">
            Agência / Código Cedente
          </td>
        </tr>
        <tr>
          <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
          <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
            {{billToPayPayment?.bank?.agency}} / {{billToPayPayment?.bank?.transmissionCode}}
          </td>
          <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
            {{billToPayPayment?.billetShipping?.maturityDate | date: 'dd/MM/yyyy'}}
          </td>
          <td colspan=1>&nbsp;</td>
          <td colspan=6 class="billetLeftValue80mm">
            G2 SOFT COMERCIO LTDA - ME&nbsp;&nbsp;CNPJ:14.272.237/0001-36
          </td>
          <td colspan=1 class="billetLeftValue80mm">
            {{billToPayPayment?.bank?.agency}} / {{billToPayPayment?.bank?.account}}
          </td>
        </tr>
        <tr>
            <td colspan=1 class="billetRightField80mm">&nbsp;</td>
            <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              Nosso Número
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=1 class="billetRightField80mm">Data Documento</td>
            <td colspan=2 class="billetRightField80mm">Número Documento</td>
            <td colspan=1 class="billetRightField80mm">Espécie Documento</td>
            <td colspan=1 class="billetRightField80mm">Aceite</td>
            <td colspan=1 class="billetRightField80mm">Data Processamento</td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              Nosso Número
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
              {{billToPayPayment?.billetShipping?.ourNumber}}
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=1 class="billetLeftValue80mm">{{getCurrentDate()}}</td>
            <td colspan=2 class="billetLeftValue80mm">{{billToPayPayment?.billetShipping?.id}}</td>
            <td colspan=1 class="billetLeftValue80mm">R$</td>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=1 class="billetLeftValue80mm">{{getCurrentDate()}}</td>
            <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
              {{billToPayPayment?.billetShipping?.ourNumber}}
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetRightField80mm">&nbsp;</td>
            <td colspan=1 class="billetRightField80mm">Espécie</td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              Valor Documento
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=1 class="billetRightField80mm">Uso Banco</td>
            <td colspan=2 class="billetRightField80mm">Carteira</td>
            <td colspan=1 class="billetRightField80mm">Espécie</td>
            <td colspan=1 class="billetRightField80mm">Quantidade</td>
            <td colspan=1 class="billetRightField80mm">Valor</td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              Valor Documento
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=1 class="billetLeftValue80mm">R$</td>
            <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
              {{billToPayPayment?.billetShipping?.billValue | number : '1.2-2'}}
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=2 class="billetLeftValue80mm">
              {{billToPayPayment?.bank?.walletShippingNumber}}
            </td>
            <td colspan=1 class="billetLeftValue80mm">R$</td>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
              {{billToPayPayment?.billetShipping?.billValue | number : '1.2-2'}}
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetRightField80mm">&nbsp;</td>
            <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              (-) Desconto/Abatimento
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 class="billetRightField80mm"></td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              (-) Desconto/Abatimento
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetRightField80mm">&nbsp;</td>
            <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">&nbsp;</td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 class="billetRightField80mm" style="border-bottom: none">&nbsp;</td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=1 class="billetRightField80mm">&nbsp;</td>
            <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              (-) Outras Deduções
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 class="billetRightField80mm">&nbsp;</td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              (-) Outras Deduções
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000">&nbsp;</td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 class="billetLeftValue80mm" style="border-bottom: none">&nbsp;</td>
            <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">&nbsp;</td>
          </tr>
          <tr>
            <td colspan=1 class="billetRightField80mm">&nbsp;</td>
            <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000">
              (+) Multa/Mora
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 class="billetRightField80mm" style="border-bottom: none">&nbsp;</td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              (+) Multa/Mora
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000">&nbsp;</td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetRightField80mm">&nbsp;</td>
            <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000">
              (+) Outros Acréscimos
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 class="billetRightField80mm" style="border-bottom: none">
              Pagador
            </td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              (+) Outros Acréscimos
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000">&nbsp;</td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 style="border-bottom: none;" class="billetLeftValue80mm">
              {{client?.name}}&nbsp;&nbsp;CNPJ:&nbsp;{{client?.cnpj}}&nbsp; Endereço&nbsp;{{client?.address}}&nbsp;{{client?.addressNumber}}&nbsp;
              CEP:{{client?.zipCode}}&nbsp;{{client?.city}}&nbsp;-&nbsp;{{client?.uf}}
            </td>
            <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetRightField80mm">&nbsp;</td>
            <td colspan=2 class="billetRightField80mm" style="border-right: 0.15mm solid #000000">
              (=) Valor Cobrado
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 class="billetRightField80mm" style="border-bottom: none">&nbsp;</td>
            <td colspan=1 class="billetRightField80mm" style="border-right: 0.15mm solid #000000;">
              (=) Valor Cobrado
            </td>
          </tr>
          <tr>
            <td colspan=1 class="billetLeftValue80mm">&nbsp;</td>
            <td colspan=2 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000">
              &nbsp;
            </td>
            <td colspan=1>&nbsp;</td>
            <td colspan=6 style="border-bottom: 0.15mm solid #000000" class="billetRightField80mm">
              Sacador / Avalista
            </td>
            <td colspan=1 class="billetLeftValue80mm" style="border-right: 0.15mm solid #000000;">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="10" id="tdBilletCarneBarCode80mm_{{i}}"></td>
          </tr>        
      </table>
      <!-- <div id="tdBilletCarneBarCode80mm_{{i}}" style="margin-top: -40px;"></div> -->
    </div>
  </div>
</iframe>

<div class="row" *ngIf="listSelectedBillToPayPayment.length > 0">
  <div *ngIf="paymentMethod === 'DEBIT' && isPaymentSelected">
    <app-debit-card-payment [totalPayment]="totalPayment" [listBillToPayPayment]="listSelectedBillToPayPayment"></app-debit-card-payment>
  </div>
  <div *ngIf="paymentMethod === 'CREDIT' && isPaymentSelected">
    <app-recurrent-payment [listBillToPayPayment]="listSelectedBillToPayPayment" [totalPayment]="totalPayment"></app-recurrent-payment>
  </div>
</div>
