<!--<ng2-toasty></ng2-toasty>-->
<div class="col-lg-12 col-md-12" style="margin-top: 20px">
  <form class="form">
    <div class="row">
      <div class="col-lg-4 col-md-4 form-group">
        <label for="inputCreditCardBrand" class="control-label">Bandeira</label>
        <select name="inputCreditCardBrand" id="inputCreditCardBrand" class="form-control"
                [(ngModel)]="payment.CreditCard.Brand">
          <option value="Visa">Visa</option>
          <option value="Master">MasterCard</option>
          <option value="Elo">Elo</option>
          <option value="Diners">Diners Club</option>
          <option value="Aura">Aura</option>
          <option value="JCB">JCB</option>
          <option value="Discover">Discover</option>
        </select>
      </div>
      <div class="col-lg-4 col-md-4 form-group">
        <label for="inputCreditCardNumber" class="control-label">Número</label>
        <input type="text" name="CardNumber" id="inputCreditCardNumber" class="form-control"
               [(ngModel)]="payment.CreditCard.CardNumber">
      </div>
      <div class="col-lg-2 col-md-2 form-group">
        <label for="inputCreditCardValidDate" class="control-label">Validade</label>
        <input type="text" id="inputCreditCardValidDate" name="ExpirationDate" class="form-control"
               [textMask]="{mask: maskValidDate}" [(ngModel)]="payment.CreditCard.ExpirationDate">
      </div>
      <div class="col-lg-2 col-md-2 form-group">
        <label for="inputCreditCardSecurityCode" class="control-label">Cód. Segurança</label>
        <input type="text" id="inputCreditCardSecurityCode" class="form-control" [textMask]="{mask: maskSecurityCode}"
               [(ngModel)]="payment.CreditCard.SecurityCode" name="SecurityCode"
               style="background-color: rgba(255, 255, 0, 0.34)">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 form-group">
        <label for="inputCreditCardHolder" class="control-label">Nome impresso</label>
        <input type="text" id="inputCreditCardHolder" class="form-control"
               [(ngModel)]="payment.CreditCard.Holder" name="Holder">
      </div>
      <div class="col-lg-4 col-md-4 form-group">
        <label for="inputCreditCardInstallments" class="control-label">Parcelas</label>
        <select name="Installments" id="inputCreditCardInstallments" class="form-control"
                [(ngModel)]="payment.Installments" (change)="checkRecurrency()">
          <option value="1">1x</option>
          <option value="2">2x</option>
          <option value="3">3x</option>
          <option value="4">4x</option>
          <option value="5">5x</option>
          <option value="6">6x</option>
          <option value="7">7x</option>
          <option value="8">8x</option>
          <option value="9">9x</option>
          <option value="10">10x</option>
          <option value="11">11x</option>
          <option value="12">12x</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="checkFuturePayments" [(ngModel)]="checkFuturePayments"> desejo usar esse cartão para pagamentos futuros
          </label>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 form-group">
        <button class="btn btn-primary pull-right" id="btnDoPayment" (click)="doPayment()">Finalizar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 form-group">
        <ng2-slim-loading-bar [color]="'#204d74'" [height]="'4px'"></ng2-slim-loading-bar>
      </div>
    </div>
  </form>

  <div bsModal #modalReceipt="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Comprovante de Pagamento</h4>
          <button type="button" class="close pull-right" (click)="modalReceipt.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5 col-md-5" id="div-payment-receipt">
              <h3 class="modal-title text-center">G2 Soft</h3><br>
              <p class="text-center" >DEMONSTRACAO DE COMPROVANTE CREDITO</p>
              <p class="text-left"><strong>VIA - Cliente</strong></p>
              <p class="text-left">CNPJ: 14.272.237/0001-36</p>
              <p class="text-left">Rua Presidente Kennedy, 122, Centro</p>
              <p class="text-left">Mamanguape - PB</p>
              <p class="text-left"><strong>{{getCurrentDate('DD/MM/YYYY')}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{getCurrentDate('hh:mm')}}</strong></p>
              <p class="text-left"><strong>VALOR:</strong></p>
              <p style="margin-top: -15px; text-align: right"><strong>{{totalPayment | number : '1.2-2'}}</strong></p>
              <!--Outros valores-->
              <p class="text-left">******{{getLast4DigitsFromCard()}}</p>
              <p style="margin-top: -20px; text-align: right">{{payment.Installments}}x</p>
              <p class="text-left">Termino: {{getConvertedDate(payment.RecurrentPayment?.EndDate)}}</p>
              <p style="margin-top: -15px;text-align: right;">Parcelas: {{getNumberRecurrentInstalments()}}</p>
              <p class="text-left">Transacao: {{cieloPayment?.tid}}</p>
              <p style="margin-top: -15px;text-align: right;">NSU: {{cieloPayment?.proofOfSale}}</p>
              <hr style="border-top: 1px dashed #8c8b8b;">
              <!--Lista-->
              <p class="text-left">DESCRICAO</p>
              <p class="text-right" style="margin-top: -15px;">PRECO(R$)</p>
              <div *ngFor="let billToPayPayment of listBillToPayPayment">
                <p class="text-left">{{billToPayPayment.description}}</p>
                <p  style="margin-top: -15px;text-align: right">{{billToPayPayment.subTotal | number : '1.2-2'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-lg-12">
              <button class="btn" (click)="modalReceipt.hide()">Cancelar</button>
              <button class="btn btn-primary" (click)="print()">
                <span class="fa fa-print"></span> Imprimir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
